<%- include("partials/header"); -%>

    <div id="service-container" style="background-image: url('/assets/<%= imglink %>'); background-repeat: no-repeat; background-size: cover; min-height: 100vh;" class="service-container box-serve">
        <h4 class="service-title-text">
            <%= title %>
        </h4>
        <p class="service-para-text">
            <%= content %>
        </p>
    </div>

<%- include("partials/footer"); -%>